$breakpoints: (
  xxs: 20rem,
  // ~320px
  xs: 36rem,
  // ~576px
  sm: 48rem,
  // ~768px
  md: 62rem,
  // ~992px
  lg: 75rem,
  // ~1200px
  xl: 88rem // ~1440px,,,,,,,,,,,,
) !default;

@mixin breakpoint($breakpoint, $logic: false) {
  @if ($logic) {
    @media #{$logic} and (min-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  } @else {
    @media (min-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  }
}
